@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  color-scheme: dark;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background: #020d07;
  font-family: "Tilt Warp", sans-serif;
}
.font-desc {
  font-family: "Momo Trust Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
}


html {
  overflow-y: scroll; /* luôn dành chỗ cho scrollbar */
  scrollbar-gutter: stable; /* hiện đại hơn: giữ rãnh cố định khi có/không có */
}

.container {
  max-width: 1376px;
  margin: 0 auto;
}
