@tailwind base;
@tailwind components;
@tailwind utilities;

/* nền tổng thể để dễ nhìn */
:root {
  color-scheme: dark;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background: #020d07;
}

.container {
  max-width: 1376px;
  margin: 0 auto;
}
